
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user{
    background-color: #455559;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.user__indi{
    border-radius: 1rem;
    flex-basis: calc(300px - 1rem);
    flex-grow: 1;
    background-color: #3D5A73;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;

}

.user__indi h2 {
    padding: 1rem;
    background-color: #2F3D40;
    text-align: center;

}
.user__indi p{
    padding: 0 1rem;
}
.user__indi p:nth-child(5){
    padding: 0 3rem;
}
.user__indi ul{
    align-self: center;
}

.user__indi:hover{
    color: white;
    background-color: #182625;
    
}